

//header

$headerTitleColor: #fff;



//Font

$smallText: 10px;


// Border
$borderSizeStandart: 2px solid gray;
$borderRadiusStandard: 5px;

// Padding 
$inputPaddingLeft: 10px;

//bg

$cellBackgroundColor: lightgray;