@use "var";
@use "preparedCode";

.vessel {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 30px;

    &-section {
        display: flex;
        justify-content: space-between;

        &__name{
            margin-right: 5px;
            min-width: 150px;
        }
    }
}