@use "var";

.vessel-parameters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.block{
    display: flex;
    min-width: 200px;
}
.item {
    min-width: 100px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}